@import url('partials/variables.scss');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10%;
    width: 80%;
}
nav{
ul{
display: flex;


}
}
nav{
    ul{
        li{
            padding: 10px;
            list-style: none;
        }
    }
}
.efsd{
    display: flex;
}
.btn{
    margin-left: 10px;
}